#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
#FREQUENCY NET "S00/D00/sclk" 2.1 MHz;
#FREQUENCY NET "S00/D01/clk0_c" 2.1 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 

#MULTICYCLE FROM CLKNET "S00/D01/clk0_c"  TO CLKNET "S00/D01/clk0_c"  2X;


# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
