BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "41" ;
LOCATE COMP "in0[0]" SITE "23" ;
LOCATE COMP "in0[1]" SITE "24" ;
LOCATE COMP "in0[2]" SITE "133" ;
LOCATE COMP "in0[3]" SITE "132" ;
LOCATE COMP "in0[4]" SITE "22" ;
LOCATE COMP "in0[5]" SITE "21" ;
LOCATE COMP "in0[6]" SITE "20" ;
LOCATE COMP "in0[7]" SITE "19" ;
LOCATE COMP "out0[0]" SITE "97" ;
LOCATE COMP "out0[1]" SITE "98" ;
LOCATE COMP "out0[2]" SITE "95" ;
LOCATE COMP "out0[3]" SITE "96" ;
LOCATE COMP "out0[4]" SITE "94" ;
LOCATE COMP "out0[5]" SITE "93" ;
LOCATE COMP "out0[6]" SITE "92" ;
LOCATE COMP "out0[7]" SITE "91" ;
LOCATE COMP "cdiv0[0]" SITE "34" ;
LOCATE COMP "cdiv0[1]" SITE "35" ;
LOCATE COMP "cdiv0[2]" SITE "32" ;
LOCATE COMP "cdiv0[3]" SITE "33" ;
LOCATE COMP "cdiv0[4]" SITE "27" ;
LOCATE COMP "en0[0]" SITE "14" ;
LOCATE COMP "en0[1]" SITE "13" ;
LOCATE COMP "en0[2]" SITE "12" ;
LOCATE COMP "en0[3]" SITE "11" ;
LOCATE COMP "en0[4]" SITE "10" ;
LOCATE COMP "en0[5]" SITE "9" ;
LOCATE COMP "en0[6]" SITE "6" ;
LOCATE COMP "en0[7]" SITE "5" ;
LOCATE COMP "control0[0]" SITE "28" ;
LOCATE COMP "control0[1]" SITE "25" ;
LOCATE COMP "control0[2]" SITE "26" ;
