BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "oscout0" SITE "91" ;
LOCATE COMP "cdiv[4]" SITE "5" ;
LOCATE COMP "cdiv[3]" SITE "6" ;
LOCATE COMP "cdiv[2]" SITE "9" ;
LOCATE COMP "cdiv[1]" SITE "10" ;
LOCATE COMP "cdiv[0]" SITE "11" ;
