#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
#FREQUENCY NET "C00/clkaux" 2.1 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
