<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejerciciosmoviles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjerciciosMoviles">
        <activity
            android:name=".Ejercicio10"
            android:exported="false" />
        <activity
            android:name=".Ejercicio9"
            android:exported="false" />
        <activity
            android:name=".Ejercicio8"
            android:exported="false" />
        <activity
            android:name=".Ejercicio7"
            android:exported="false" />
        <activity
            android:name=".Ejercicio6"
            android:exported="false" />
        <activity
            android:name=".Ejercicio5"
            android:exported="false" />
        <activity
            android:name=".Ejercicio4"
            android:exported="false" />
        <activity
            android:name=".Ejercicio3"
            android:exported="false" />
        <activity
            android:name=".Ejercicio2"
            android:exported="false" />
        <activity
            android:name=".Ejercicio1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>