BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[3]" SITE "5" ;
LOCATE COMP "Ai[2]" SITE "6" ;
LOCATE COMP "Ai[1]" SITE "9" ;
LOCATE COMP "Ai[0]" SITE "10" ;
LOCATE COMP "Bi[3]" SITE "19" ;
LOCATE COMP "Bi[2]" SITE "20" ;
LOCATE COMP "Bi[1]" SITE "21" ;
LOCATE COMP "Bi[0]" SITE "22" ;
LOCATE COMP "Ro[7]" SITE "91" ;
LOCATE COMP "Ro[6]" SITE "92" ;
LOCATE COMP "Ro[5]" SITE "93" ;
LOCATE COMP "Ro[4]" SITE "94" ;
LOCATE COMP "Ro[3]" SITE "96" ;
LOCATE COMP "Ro[2]" SITE "95" ;
LOCATE COMP "Ro[1]" SITE "98" ;
LOCATE COMP "Ro[0]" SITE "97" ;
