BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "en0" SITE "1" ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "cdiv0[0]" SITE "34" ;
LOCATE COMP "cdiv0[1]" SITE "35" ;
LOCATE COMP "cdiv0[2]" SITE "32" ;
LOCATE COMP "cdiv0[3]" SITE "33" ;
LOCATE COMP "cdiv0[4]" SITE "27" ;
LOCATE COMP "inxfsm0[5]" SITE "99" ;
LOCATE COMP "inxfsm0[4]" SITE "100" ;
LOCATE COMP "inxfsm0[3]" SITE "104" ;
LOCATE COMP "inxfsm0[2]" SITE "105" ;
LOCATE COMP "inxfsm0[1]" SITE "106" ;
LOCATE COMP "inxfsm0[0]" SITE "107" ;
LOCATE COMP "outfsm0[2]" SITE "42" ;
LOCATE COMP "outfsm0[1]" SITE "44" ;
LOCATE COMP "outfsm0[0]" SITE "39" ;
LOCATE COMP "address0[0]" SITE "96" ;
LOCATE COMP "address0[1]" SITE "94" ;
LOCATE COMP "address0[2]" SITE "93" ;
LOCATE COMP "address0[3]" SITE "92" ;
LOCATE COMP "address0[4]" SITE "91" ;
